body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 100px; 
}


.hero {
	background-image: url('https://floorsforflorida.files.wordpress.com/2013/03/grandma-old-lady-rock-rock-on-funny-cool-unique-favim-com-460891_large.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


.hero p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: white;
	font-size: 24px;
	text-decoration: none;
}
p {
	font-family: 'Trebuchet MS', 'Helvetica';
	font-size: 24px;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}
