H1 {
Color:black;
Font-family: Verdana;
}

.page-description {
font-family: Arial;
font-color: blue
font-size: 20px;
}

img {
  width:300px;
  Height:300px;
  Border: 2px solid black;
}

Body {
  background-color:grey;
}
